{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
    {{navigation}}
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main class="site-main">
    {{content}}
</main>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

</script>
{{/contentFor}}
