*, *::before, *::after {
	box-sizing: border-box;
}
html, body {
	position: relative;
	height: 100%;

	font-family: 'Playfair Display', serif;
}
.site-header {
	position: relative;
}
.site-main {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.site-cblock {
	height: auto;
	position: relative;
	width: 50%;
	overflow: hidden;
	padding: 1em;

	text-align: center;
}
.site-cblock-content {
	position: relative;
	z-index: 3;
}

.site-pagination {
	text-align: center;
	text-transform: uppercase;
	
	.pagination {
		position: relative;
		display: inline-block;

		.page-number {
			display: block;
			padding: 0 1em 0.5em;
		}
	}
	.older-posts, .newer-posts {
		position: absolute;
		top: 0;
		display: block;
		right: 100%;
		text-align: right;
		white-space: nowrap;
	}
	.older-posts {
		left: 100%;
		text-align: left;
		right: auto;
	}
}

.site-footer {
	padding: 0;

	text-align: center;
	color: #333;

	a {
		padding: 0 0.5em;
		color: #333;
		text-decoration: none;
		font-size: 0.8em;
		line-height: 1;

		transition: all 250ms;
	}

	a:hover {
		color: $color;
		text-decoration: none;
	}
}