$color: #FFD228;

$c-selection: #FFD228;
$c-mark: #fdffb6;
$c-hr: #c5d2d9;
$c-dt: #15171A;
$c-blockquote: #FFD228;
$c-a: #3eb0ef;

$c-site-font: #333;
$c-site-background: #fff;

$c-post-title-bg: rgba(255, 255, 255, 0.85);

@import "global";

@import "layout";

@import "modules/home";
@import "modules/nature";
@import "modules/people";
@import "modules/post";

@import "modules/postpreview";
@import "modules/cblock";

@import "modules/links";
@import "modules/navigation";
@import "modules/instafeed";
@import "modules/_koenig.scss";

@import "queries";

#map_inner > div:not(#tt_sm_map) {
	opacity: 0;
}