$color: #FFD228;

$c-selection: #FFD228;
$c-mark: #fdffb6;
$c-hr: #c5d2d9;
$c-dt: #15171A;
$c-blockquote: #FFD228;
$c-a: #3eb0ef;

$c-site-font: #333;
$c-site-background: #fff;

@import "global";

@import "layout";

@import "modules/about";
@import "modules/travel";
@import "modules/photography";
@import "modules/post";

@import "modules/post-card";

@import "modules/links";
@import "modules/navigation";
@import "modules/instafeed";

@import "queries";

#map_inner > div:not(#tt_sm_map) {
	opacity: 0;
}