.home {

	.about-bio p {
		margin: 0.5em auto 1.5em;
		max-width: 475px;

		font-size: 0.9em;

		a {
			@extend .linkhover;
		}
	}

	.about-subscribe {
		font-size: 0.9em;

		h3 {
			margin: 2em 0 0;
		}
		p {
			margin: 0.5em auto;
			max-width: 475px;
		}

		form {
			color: #333;

			input.subscribe-email {
				padding: 0.5em 0.75em;
			}
			button {
				padding: 0.25em 0.5em;
				margin: 0;
				margin-top: 0.5em;
			}
		}
	}

	.about-insta {
		text-align: center;

		h3 {
			margin: 2em 0 0;
		}
		p {
			margin: 0.5em 0 1.3em;

			font-size: 0.9em;
		}
	}

	.postpreview.postpreview--0 {
		//height: calc(100vh - 2em);
		flex: 1 1 100%;

		.postpreview-photo {
			height: 100vh;
		}
	}
	.postpreview.postpreview--2, 
	.postpreview.postpreview--5 {
		flex: 1 1 100%;
		//height: 130vh;

		.postpreview-photo {
			//height: 130vh;
		}
	}
}