.kg-gallery-container {

}
.kg-gallery-row {

}
.kg-gallery-image {

}
.kg-bookmark-card {

}
.kg-bookmark-container {

}
.kg-bookmark-content {

}
.kg-bookmark-title {

}
.kg-bookmark-description {

}
.kg-bookmark-metadata {

}
.kg-bookmark-icon {

}
.kg-bookmark-author {

}
.kg-bookmark-publisher {

}
.kg-bookmark-thumbnail {

}

.kg-image-card {
	text-align: center;
}

.kg-width-full figcaption {
	
}

.kg-embed-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.kg-embed-card .fluid-width-video-wrapper {
	margin: 0;
}

.kg-gallery-container {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	width: 100%;
}

.kg-gallery-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.kg-gallery-image img {
	display: block;
	margin: 0;
	width: 100%;
	height: auto;
}

.kg-gallery-row:not(:first-of-type) {
	margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
	margin: 0 0 0 0.75em;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
	margin: -2.25em auto 3em auto;
}

/* keep existing <pre> styles for code cards with captions */
.kg-code-card {
	width: 100%;
}

.kg-code-card pre {
	margin: 0;
}

.kg-bookmark-card {
	width: 100%;
	border: 1px solid #333;
}

.kg-card + .kg-bookmark-card {
	margin-top: 0;
}

.kg-bookmark-container {
	display: flex !important;
}
.kg-bookmark-content {
	display: flex;
	flex: 0 1 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	padding: 1.5rem;
	font-size: 1.5rem;
}

.kg-bookmark-title {
	font-weight: bold;
	margin-bottom: 1.5rem;
}

.kg-bookmark-description {
	margin-bottom: 1.5rem;
}

.kg-bookmark-thumbnail {
	position: relative;
	flex: 1 1 auto;
	min-width: 33%;
}

.kg-bookmark-thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.kg-bookmark-metadata {
	
}

.kg-bookmark-icon {
	margin-right: 0.5rem;
}

.kg-bookmark-author {
	
}

.kg-bookmark-author:after {
	content: "•";
	margin: 0 0.5rem;
}

.kg-bookmark-publisher {
	
}

@media (max-width: 500px) {
	.kg-bookmark-title,
	.kg-bookmark-description,
	.kg-bookmark-metadata {
		font-size: 1.4rem;
		line-height: 1.5em;
	}

	.kg-bookmark-thumbnail {
		order: 1;
		min-height: 160px;
		width: 100%;
	}

	.kg-bookmark-thumbnail img {
		border-radius: 3px 3px 0 0;
	}

	.kg-bookmark-content {
		order: 2;
	}
}