.nav {
	position: relative;
	z-index: 100;
	margin: 0;
	padding: 0;

	list-style: none;
	text-align: center;

	li {
		display: inline-block;
		margin: 0;
		padding: 1.5rem 0.5em;

		list-style: none;
		line-height: 1em;

		&.nav-current a {
			color: $color;
		}

		a {
			display: block;
			color: #333;
			transition: color 200ms;

			&:hover {
				color: $color;
				text-decoration: none;
			}
		}
	}
}