.photography {
	.site-cblock {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 0 0 50%;
		min-height: 90vh;

		background: #333;

		color: #fff;

		overflow: visible;

		&::before {
			content: "";
			position: absolute;
			top: 1rem;
			right: calc(-400% + 1rem);
			width: 400%;
			height: calc(100% - 2rem);

			background: #333;

			z-index: 3;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;

			border: 1rem solid #fff;

			transition: all 250ms;
		}
	}

	.site-cblock-content {
		flex: 0 0 100%;
	}

	.travel-recent {
		width: 100%;
		margin: 1em 0 1em 0;

		text-align: center;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 2rem;
	}

	.travel-bio p {
		max-width: 500px;
		margin: 1.5em auto;
	}
}