.post {
	.timestamp {
		position: relative;
		top: -2.5em;
	}
	.post-header {
		max-width: 900px;
		width: 100%;
		margin: 0;
		height: 80vh;
		overflow: visible;
		
		background: #fff;

		text-align: center;

		.post-title {
			margin: 1em auto 0em;

			color: #333;
			font-size: 5rem;
			text-transform: uppercase;
			word-spacing: -0.1em;
			line-height: 1;
		}

		.post-header-content {
			overflow: hidden;
		}
	}
	.post-header:hover {
		~ .post-header-photo {
			transform: perspective(1000px) translate3d(0,0,0px);
		}
		.post-title::before {
			opacity: 1;
		}
	}

	.post-content {
		width: 100%;
		padding: 1rem;

		h1, h2, h3, h4, h5, h6, 
		p, 
		figure, 
		blockquote {
			padding: 0;
			max-width: 75rem;
			margin: 3.5rem auto;
		}
		blockquote {
			padding: 0 3rem 0 1.5rem;
			border-left: $color 0.5rem solid;
			max-width: 77rem;

			p {
				font-size: 1.5rem;
			}
		}
		h1 {
			font-size: 5rem;
			margin: 1.5em auto;
			text-align: justify;
		}
		h2 {
			font-size: 4rem;
			margin: 1.5em auto;
			text-align: justify;
		}
		h3 {
			font-size: 3rem;
			margin: 1.5em auto;
			text-align: justify;
		}
		h4 {
			font-size: 2.5rem;
			margin: 1.5em auto;
			text-align: justify;
		}
		h5, h6 {
			font-size: 2rem;
			margin: 1.5em auto;
			text-align: justify;
		}
		p {
			font-size: 1.8rem;
			text-align: justify;
			color: #666;
			line-height: 1.75;
		}
		img {
			
		}
		small, figcaption {
			color: #666;
			font-size: 1.4rem;
			line-height: 1;
			padding-top: 1rem;
		}
		hr {
			display: block;
			height: 0;
			margin: 4.5rem auto 3rem auto;

			border: 0;

			text-align: center;

			overflow: visible;

			&::before {
				content: '...';
				display: inline-block;
				margin-left: 1rem;
				position: relative;
				top: -30px;

				font-weight: 400;
				font-size: 4rem;
				letter-spacing: 1rem;
				color: rgba(0, 0, 0, .5);
			}
		}

		hr + p, h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
			&::first-letter {
				display: block;
				position: relative;
				float: left;
				padding-right: 0.7rem;
				padding-top: 1rem;
				margin-left: -0.5rem;
				margin-right: 0.5rem;
				margin-bottom: -1rem;

				font-size: 6.5rem;
				letter-spacing: -0.5rem;
				line-height: .83;
				color: #222;
				font-weight: bold;
			}
		}

		.kg-width-wide {
			max-width: 100rem;
			padding: 0;
		}
		.kg-width-full {
			max-width: 100%;
			width: 100%;
			padding: 0;
		}
	}
}