.site-main.travel {

	.site-cblock {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 0 0 100%;
		min-height: calc(100vh - 2rem);

		border-top: 1rem solid #fff;
		border-bottom: 1rem solid #fff;

		background: #333;

		color: #fff;

		overflow: visible;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: calc(-400% + 1rem);
			width: 700%;
			height: 100%;

			background: #333;

			z-index: 3;
		}
	}

	.site-cblock-content {
		flex: 0 0 100%;
	}

	.travel-recent {
		width: 100%;
		margin: 1em 0 1em 0;

		text-align: center;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 2rem;
	}

	.travel-bio p {
		max-width: 500px;
		margin: 1.5em auto;
	}
}