@charset "UTF-8";
/* Reset
/* ---------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

img {
  max-width: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

b,
strong {
  font-weight: bold; }

i,
em,
dfn {
  font-style: italic; }

h1 {
  margin: 0.67em 0;
  font-size: 2em; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

mark {
  background-color: #fdffb6; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 3 */
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

button {
  overflow: visible;
  border: none; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 3 */
  -webkit-appearance: button;
  /* 2 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input {
  line-height: normal; }

input:focus {
  outline: none; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  -webkit-appearance: textfield;
  /* 1 */ }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

legend {
  padding: 0;
  /* 2 */
  border: 0;
  /* 1 */ }

textarea {
  overflow: auto; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  overflow-x: hidden;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  overflow-x: hidden;
  color: #333;
  font-size: 1.5rem;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on; }

::-moz-selection {
  text-shadow: none;
  background: #FFD228; }

::selection {
  text-shadow: none;
  background: #FFD228; }

hr {
  position: relative;
  display: block;
  width: 100%;
  margin: 2.5em 0 3.5em;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #c5d2d9; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

textarea {
  resize: vertical; }

p,
ul,
ol,
dl,
blockquote {
  margin: 0 0 1.5em 0; }

ol,
ul {
  padding-left: 1.3em;
  padding-right: 1.5em; }

ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0.5em 0 1em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

ul,
ol {
  max-width: 100%; }

li {
  margin: 0.5em 0;
  padding-left: 0.3em;
  line-height: 1.6em; }

dt {
  float: left;
  margin: 0 20px 0 0;
  width: 120px;
  color: #15171A;
  font-weight: 500;
  text-align: right; }

dd {
  margin: 0 0 5px 0;
  text-align: left; }

blockquote {
  margin: 1.5em 0;
  padding: 0 1.6em 0 1.6em;
  border-left: #FFD228 0.5em solid; }

blockquote p {
  margin: 0.8em 0;
  font-size: 1.2em;
  font-weight: 300; }

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  opacity: 0.8; }

/* Quotation marks */
blockquote small:before {
  content: "\2014 \00A0"; }

blockquote cite {
  font-weight: bold; }

blockquote cite a {
  font-weight: normal; }

a {
  color: #3eb0ef;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.15;
  font-weight: 700;
  text-rendering: optimizeLegibility; }

h1 {
  margin: 0 0 0.5em 0;
  font-size: 5rem;
  font-weight: 700; }

@media (max-width: 500px) {
  h1 {
    font-size: 2.2rem; } }

h2 {
  margin: 1.5em 0 0.5em 0;
  font-size: 3rem; }

@media (max-width: 500px) {
  h2 {
    font-size: 1.8rem; } }

h3 {
  margin: 1.5em 0 0.5em 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2rem; }

@media (max-width: 500px) {
  h3 {
    font-size: 1.7rem; } }

h4 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.6rem;
  font-weight: 500; }

h5 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.4rem;
  font-weight: 500; }

h6 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.4rem;
  font-weight: 500; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  position: relative;
  height: 100%;
  font-family: 'Playfair Display', serif; }

.site-header {
  position: relative; }

.site-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.site-pagination {
  text-align: center;
  text-transform: uppercase; }
  .site-pagination .pagination {
    position: relative;
    display: inline-block; }
    .site-pagination .pagination .page-number {
      display: block;
      padding: 0 1em 0.5em; }
  .site-pagination .older-posts, .site-pagination .newer-posts {
    position: absolute;
    top: 0;
    display: block;
    right: 100%;
    text-align: right;
    white-space: nowrap; }
  .site-pagination .older-posts {
    left: 100%;
    text-align: left;
    right: auto; }

.site-footer {
  padding: 0;
  text-align: center;
  color: #333; }
  .site-footer a {
    padding: 0 0.5em;
    color: #333;
    text-decoration: none;
    font-size: 0.8em;
    line-height: 1;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms; }
  .site-footer a:hover {
    color: #FFD228;
    text-decoration: none; }

.site-main,
.site-header,
.site-footer,
.site-pagination {
  max-width: 3840px;
  padding: 0;
  margin: 0 auto; }

.flex-fullwidth {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 100% !important;
  flex: 0 0 100% !important; }

.home .about-bio p {
  margin: 0.5em auto 1.5em;
  max-width: 475px;
  font-size: 0.9em; }

.home .about-insta {
  text-align: center; }
  .home .about-insta h3 {
    margin: 2em 0 0; }
  .home .about-insta p {
    margin: 0.5em 0 1.3em;
    font-size: 0.9em; }

.site-main.nature .nature-recent {
  width: 100%;
  margin: 1em 0 1em 0;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2rem; }

.site-main.nature .nature-bio p {
  max-width: 500px;
  margin: 1.5em auto; }

.people .people-recent {
  width: 100%;
  margin: 1em 0 1em 0;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2rem; }

.people .people-bio p {
  max-width: 500px;
  margin: 1.5em auto; }

.post .timestamp {
  position: relative;
  top: 0;
  margin-bottom: 1.5rem;
  margin-top: 2rem; }

.post .post-header {
  max-width: none;
  width: 100%;
  margin: 0;
  height: auto;
  min-height: auto;
  overflow: visible;
  background: #fff;
  text-align: center; }
  .post .post-header .post-title {
    margin: 1em auto 0em;
    color: #333;
    font-size: 5rem;
    text-transform: uppercase;
    word-spacing: -0.1em;
    line-height: 1; }
  .post .post-header .post-header-content {
    overflow: hidden; }

.post .post-header:hover ~ .post-header-photo {
  -webkit-transform: perspective(1000px) translate3d(0, 0, 0px);
  transform: perspective(1000px) translate3d(0, 0, 0px); }

.post .post-header:hover .post-title::before {
  opacity: 1; }

.post .post-excerpt {
  width: 100%;
  padding: 0 1rem; }
  .post .post-excerpt p,
  .post .post-excerpt hr {
    max-width: 85rem;
    padding: 0;
    margin: 2.5rem auto;
    font-size: 1.8rem;
    line-height: 1.75;
    text-align: justify;
    color: #738a94; }
  .post .post-excerpt hr {
    display: block;
    height: 0;
    border: 0;
    text-align: center;
    overflow: visible; }
    .post .post-excerpt hr::before {
      content: '...';
      display: inline-block;
      margin-left: 1rem;
      position: relative;
      top: -30px;
      font-weight: 400;
      font-size: 4rem;
      letter-spacing: 1rem;
      color: rgba(0, 0, 0, 0.5); }

.post .post-content {
  width: 100%;
  padding: 0 1rem 1rem; }
  .post .post-content h1, .post .post-content h2, .post .post-content h3, .post .post-content h4, .post .post-content h5, .post .post-content h6,
  .post .post-content p,
  .post .post-content figure,
  .post .post-content blockquote {
    padding: 0;
    max-width: 85rem;
    margin: 3.5rem auto; }
  .post .post-content figcaption {
    text-align: justify;
    max-width: 85rem;
    margin: 0 auto; }
  .post .post-content blockquote {
    padding: 0 3rem 0 1.5rem;
    border-left: #FFD228 0.5rem solid;
    max-width: 77rem; }
    .post .post-content blockquote p {
      font-size: 1.8rem;
      line-height: 1.75;
      text-align: justify; }
  .post .post-content h1 {
    font-size: 5rem;
    margin: 1.5em auto;
    text-align: justify; }
  .post .post-content h2 {
    font-size: 4rem;
    margin: 1.5em auto;
    text-align: justify; }
  .post .post-content h3 {
    font-size: 3rem;
    margin: 1.5em auto;
    text-align: justify; }
  .post .post-content h4 {
    font-size: 2.5rem;
    margin: 1.5em auto;
    text-align: justify; }
  .post .post-content h5, .post .post-content h6 {
    font-size: 2rem;
    margin: 1.5em auto;
    text-align: justify; }
  .post .post-content p {
    font-size: 1.8rem;
    text-align: justify;
    color: #666;
    line-height: 1.75; }
  .post .post-content small, .post .post-content figcaption {
    color: #666;
    font-size: 1.4rem;
    line-height: 1;
    padding-top: 1rem; }
  .post .post-content hr {
    display: block;
    height: 0;
    margin: 4.5rem auto 3rem auto;
    border: 0;
    text-align: center;
    overflow: visible; }
    .post .post-content hr::before {
      content: '...';
      display: inline-block;
      margin-left: 1rem;
      position: relative;
      top: -30px;
      font-weight: 400;
      font-size: 4rem;
      letter-spacing: 1rem;
      color: rgba(0, 0, 0, 0.5); }
  .post .post-content hr + p::first-letter,
  .post .post-content h1 + p::first-letter,
  .post .post-content h2 + p::first-letter,
  .post .post-content h3 + p::first-letter,
  .post .post-content h4 + p::first-letter,
  .post .post-content h5 + p::first-letter,
  .post .post-content h6 + p::first-letter,
  .post .post-content p:first-child::first-letter {
    display: block;
    position: relative;
    float: left;
    padding-right: 0.7rem;
    padding-top: 1rem;
    margin-left: -0.5rem;
    margin-right: 0.5rem;
    margin-bottom: -1rem;
    font-size: 6.5rem;
    letter-spacing: -0.5rem;
    line-height: .83;
    color: #222;
    font-weight: bold; }
  .post .post-content .kg-width-wide {
    max-width: 110rem;
    padding: 0; }
  .post .post-content .kg-width-full {
    max-width: 100%;
    width: 100%;
    padding: 0; }

.postpreview {
  position: relative;
  width: 50%;
  overflow: hidden;
  border: 1rem solid #fff; }

.postpreview-photo {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100vw;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: perspective(1000px) translate3d(0, 0, 0);
  transform: perspective(1000px) translate3d(0, 0, 0); }

.postpreview-content {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.timestamp {
  position: relative;
  margin-top: 2.5em;
  margin-bottom: 5em;
  text-align: center; }

.timestamp-date {
  position: relative;
  display: block;
  width: 6.5em;
  z-index: 13;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fff;
  font-size: 0.8em; }
  .timestamp-date::before {
    content: "";
    display: block;
    padding-top: 100%; }
  .timestamp-date p {
    margin: 0;
    padding: 1.5em 0 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    line-height: 2em;
    font-size: 1em; }
    .timestamp-date p span {
      display: block;
      font-size: 2.5em; }

.postpreview-header {
  position: relative;
  left: 5%;
  margin: 0;
  width: 90%;
  z-index: 12;
  margin-top: 7.5em;
  text-align: center;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms; }

h2.postpreview-title {
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  margin: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  color: #333;
  font-size: 3em;
  text-transform: uppercase;
  word-spacing: -0.1em;
  line-height: 1;
  -webkit-transition: background-color 0.35s;
  -o-transition: background-color 0.35s;
  transition: background-color 0.35s; }
  h2.postpreview-title a {
    color: #333; }
    h2.postpreview-title a:hover {
      text-decoration: none; }
  h2.postpreview-title::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    background: transparent;
    content: '';
    -webkit-transition: opacity 0.35s;
    -o-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2); }

.postpreview-excerpt {
  position: relative;
  left: 10%;
  padding: 1em;
  width: 80%;
  margin-top: 2.5em;
  background: #fff;
  color: #333;
  font-weight: normal;
  text-align: center;
  vertical-align: top;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -o-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1); }

.postpreview-meta {
  position: absolute;
  bottom: 2.5em;
  width: 100%;
  z-index: 13;
  text-align: center; }

.meta-tag {
  display: inline-block;
  margin-right: 1em;
  color: #fff;
  text-align: left;
  line-height: 1em;
  vertical-align: bottom; }

.meta-reading-time {
  display: inline-block;
  color: #fff;
  text-align: right;
  line-height: 1em;
  vertical-align: bottom; }

.postpreview-header:hover ~ .postpreview-photo {
  -webkit-transform: perspective(1000px) translate3d(0, 0, 40px);
  transform: perspective(1000px) translate3d(0, 0, 40px); }

.postpreview-header:hover .postpreview-title::before {
  opacity: 0; }

.postpreview-header:hover .postpreview-title {
  background: white; }

.postpreview-header:hover .postpreview-excerpt {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.postpreview {
  height: 90vh;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%; }

.postpreview-photo {
  height: 90vh; }

.home .postpreview.postpreview--0 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding-top: 0;
  border-top-width: 0; }

.home .postpreview.postpreview--2,
.home .postpreview.postpreview--5 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

.nature .postpreview.postpreview--0,
.people .postpreview.postpreview--0 {
  padding-top: 0;
  border-top-width: 0; }

.cblock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  height: 90vh;
  background: #333;
  color: #fff;
  text-align: center; }
  .cblock .cblock-content {
    position: relative;
    z-index: 4;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1rem solid #fff;
    border-left-width: 0; }

.cblock.cblock--nature .cblock-content {
  border-top-width: 0; }
  .cblock.cblock--nature .cblock-content #map {
    width: 100%; }

.cblock.cblock--people {
  min-height: 90vh; }
  .cblock.cblock--people .cblock-content {
    border-top-width: 0;
    border-left: 1rem solid #fff;
    border-right: 0px; }

.about-subscribe {
  font-size: 0.9em; }
  .about-subscribe h3 {
    margin: 2em 0 0; }
  .about-subscribe p {
    margin: 0.5em auto;
    max-width: 475px; }
  .about-subscribe form {
    color: #333; }
    .about-subscribe form input.subscribe-email {
      padding: 0.5em 0.75em; }
    .about-subscribe form button {
      padding: 0.25em 0.5em;
      margin: 0; }

.subscribe-email {
  border: none;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-appearance: none; }

.subscribe-email:focus {
  outline: 0; }

.subscribe-form button {
  position: relative;
  outline: none;
  border: none;
  -webkit-font-smoothing: subpixel-antialiased; }

.subscribe-form .button-loader,
.subscribe-form .message-success,
.subscribe-form .message-error {
  display: none; }

.subscribe-form .loading .button-content {
  visibility: hidden; }

.subscribe-form .loading .button-loader {
  position: absolute;
  top: -0.35em;
  left: 50%;
  display: inline-block;
  margin-left: -19px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

.subscribe-form .button-loader svg path,
.subscribe-form .button-loader svg rect {
  fill: #333; }

.subscribe-form .success .message-success,
.subscribe-form .invalid .message-error,
.subscribe-form .error .message-error {
  color: #FFD228; }

.subscribe-form .success .message-success {
  display: block; }

.subscribe-form .invalid .message-error,
.subscribe-form .error .message-error {
  display: block; }

.linkhover, .home .about-bio p a, .linkhover--small, .linkhover--dark, .site-main--post a,
.site-pagination a,
.content-wrapper a {
  position: relative;
  font-size: 1em;
  color: #FFD228;
  text-decoration: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  white-space: nowrap; }
  .linkhover::before, .home .about-bio p a::before, .linkhover--small::before, .linkhover--dark::before, .site-main--post a::before,
  .site-pagination a::before,
  .content-wrapper a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 1px;
    background: #FFD228;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  .linkhover:hover, .home .about-bio p a:hover, .linkhover--small:hover, .linkhover--dark:hover, .site-main--post a:hover,
  .site-pagination a:hover,
  .content-wrapper a:hover {
    text-decoration: none; }
  .linkhover:hover::before, .home .about-bio p a:hover::before, .linkhover--small:hover::before, .linkhover--dark:hover::before, .site-main--post a:hover::before,
  .site-pagination a:hover::before,
  .content-wrapper a:hover::before {
    width: 100%;
    left: 0%; }

.linkhover--small {
  font-size: 1em; }

.linkhover--dark {
  color: #333; }
  .linkhover--dark::before {
    background: #333; }

a.link--reset,
a.kg-bookmark-container {
  position: inherit;
  display: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  white-space: inherit; }
  a.link--reset::before,
  a.kg-bookmark-container::before {
    display: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }

.nav {
  position: relative;
  z-index: 100;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .nav li {
    display: inline-block;
    margin: 0;
    padding: 1.5rem 0.5em;
    list-style: none;
    line-height: 1em; }
    .nav li.nav-current a {
      color: #FFD228; }
    .nav li a {
      display: block;
      color: #333;
      -webkit-transition: color 200ms;
      -o-transition: color 200ms;
      transition: color 200ms; }
      .nav li a:hover {
        color: #FFD228;
        text-decoration: none; }

.instafeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto; }

.instafeed a {
  display: block;
  padding: 0.25em;
  text-align: center; }

.kg-image-card {
  text-align: center; }

.kg-embed-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.kg-embed-card .fluid-width-video-wrapper {
  margin: 0; }

.kg-gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 100%;
  width: 100%; }

.kg-gallery-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto; }

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0; }

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em; }

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
  margin: -2.25em 0 3em; }

/* keep existing <pre> styles for code cards with captions */
.kg-code-card {
  width: 100%; }

.kg-code-card pre {
  margin: 0; }

.kg-bookmark-card {
  width: 100%;
  border: 1px solid #333; }

.kg-card + .kg-bookmark-card {
  margin-top: 0; }

.kg-bookmark-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.kg-bookmark-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem; }

.kg-bookmark-title {
  font-weight: bold;
  margin-bottom: 1.5rem; }

.kg-bookmark-description {
  margin-bottom: 1.5rem; }

.kg-bookmark-thumbnail {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 33%; }

.kg-bookmark-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0; }

.kg-bookmark-icon {
  margin-right: 0.5rem; }

.kg-bookmark-author:after {
  content: "•";
  margin: 0 0.5rem; }

@media (max-width: 500px) {
  .kg-bookmark-title,
  .kg-bookmark-description,
  .kg-bookmark-metadata {
    font-size: 1.4rem;
    line-height: 1.5em; }
  .kg-bookmark-thumbnail {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    min-height: 160px;
    width: 100%; }
  .kg-bookmark-thumbnail img {
    border-radius: 3px 3px 0 0; }
  .kg-bookmark-content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; } }

@media only screen and (max-width: 1150px) {
  .home .cblock {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .postpreview-header, .timestamp {
    font-size: 0.8em; }
  .postpreview-excerpt {
    font-size: 0.9em;
    top: 2em; } }

@media only screen and (max-width: 875px) {
  .postpreview, .cblock, .photography .cblock {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .home .cblock {
    min-height: 90vh;
    height: auto; }
  .site-main {
    padding: 0; }
  .photography .postpreview {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .photography .cblock {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  h2.postpreview-title {
    padding: 1em 0.5em; } }

@media only screen and (max-width: 565px) {
  .postpreview-header, .post-timestamp {
    font-size: 0.6em; }
  .postpreview-excerpt {
    font-size: 0.7em;
    top: 2em; } }

#map_inner > div:not(#tt_sm_map) {
  opacity: 0; }
